// Mixin for easier colors
@mixin social-container($color) {
  .social-cube {
    .front,
    .back {
      background: $color;
    }
    .bottom {
      background: darken($color, 10%);
    }
  }
  // &:hover .social-cube {
  //   .bottom {
  //     background: $color;
  //   }
  //   .front {
  //     background: lighten($color, 10%);
  //   }
  // }
}

// Social container styles
.social-container {
  position: relative;
  display: inline-block;
  width: 100vh;
  height: 36px;
  perspective: 300px;
  margin: 12px;
  .social-cube {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.333s;
    transform: translateZ(-18px);
    .front,
    .bottom {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      transition: background 0.333s;
    }
    .front {
      transform: rotateX(0deg) translateZ(18px);
    }
    .bottom {
      transform: rotateX(-90deg) translateZ(18px);
    }
  }

  // &:hover .social-cube {
  //   transform: translateZ(-18px) rotateX(90deg);
  // }
}

// Custom colors
$twitter-blue: #e1e1e1;

.social-container {
  &.twitter {
    @include social-container($twitter-blue);
  }
}

.social-container.twitter .social-cube .bottom {
  background: $twitter-blue;
}